@forward 'normalize';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  max-height: 1100px;
  min-width: 420px;
  word-break: normal;
  background-image: url('../picture/backGroundColor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Georgia, serif;
}

li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

:root{
  --background-task-list: #49678D;
  --dark-grey: #333;
  --light-grey: #fff;
  --blue-btn: #007bff;
  --hover-blue-btn: #0056b3;
  --hover-btn: #002137;
  --background-wrapper-list: #1D334A;
  --hover-background-wrapper-list: #395778;
  --delete-btn: #c82333;
  --hover-delete-btn: #FF0000FF;
  --green-btn: #034717;
  --hover-green-btn:#116b0d;
  --color-scrollbar-thumb: #1D1E33;
  --hover-color-scrollbar-thumb: #1E2460;
}
